# Data Processing
pyspark>=3.5.0
pandas>=2.0.0
openpyxl>=3.1.0
mlflow==2.19.0
prophet>=1.2.1
cmdstanpy==1.2.5

# Visualization & Elbow Method
numpy<2.0
plotly>=5.15.0

# Data Collection (for the download script)
requests>=2.31.0